:root {
	--main-primary: #f0b528;
	--hover-primary: #ffcb52;
	--main-secondary: #46596d;
	--hover-secondary: #c9d1d9;

	--body-text: #1d252d;
	--stroke: #e0e5eb;
	--light-grey: #dbdbdb;
	--icons: #959595;
	--status: #818e9c;

	--red: #db4744;
	--green-status: #29988b;

	--white: #ffffff;
	--background: #f5f5f5;
	--bg-row: rgba(240, 235, 235, 0.25);
	--bg-2-red: rgba(224, 122, 95, 0.05);
}
