.tours-container {
	padding: 10px 20px;
	background: #c9c9c9;

	&__controlls {
		text-align: center;
		margin: 0 auto;
	}
}

.dark {
	background: #000;
	color: #fff;
}

.light {
	background: #fff;
	color: #000;
}
